@use 'sass:color';

.form {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__field {
    position: relative;
    background-color: $c-header-bg;
    border-bottom: solid 2px $c-white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    height: 41px;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    transition: all 0.3s;
    color: $c-white;

    @include on-tablet {
      width: 370px;
    }

    &:hover {
      border-bottom: solid 2px $c-blue;
    }

    &:focus {
      border-color: $c-blue;
    }

    &--textarea {
      z-index: 1;
      height: 48px;
      padding-top: 10px;
      text-wrap: wrap;
      resize: none;
      overflow: hidden;
    }
  }

  &__button {
    margin-top: 32px;
    margin-bottom: 48px;
    display: flex;
    place-content: center;
    place-items: center;
    cursor: pointer;

    @include button-set;

    &:hover {
      background-color: $c-white;
      color: $c-blue;
      border: 2px solid $c-blue;
    }

    &:active {
      background-color: color.adjust($c-blue, $lightness: -20%);
      color: $c-black;
    }
  }
}
